@charset "utf-8";
/* CSS Document */
.container{
	display: table-footer-group;
	align-items:central;
	text-align:center;
	height:60%;
	width:90%;
	margin:5%}
	
#container { width:320px;
	padding:8px 8px 20px 8px;
	margin:20px auto;
	background-image:url(../../py4e/file00/pngtree-small-fresh-sweet-candy-poster-background-material-image_141955.jpg);
	border:solid 1% rgb(99, 210, 238);
	border-radius:1%;
	box-shadow:-3px 3px 7px #FFFFCC;
}

#display{ display:block;
		margin:15px;
		text-align:right;
		width:80%;
		font-family:"Courier New", Courier, monospace;
		font-size:120%;
		font-weight:400;
		padding:3%;
}
.button{ display:inline-block;
		width:45px;
		height:45px;
		font-weight:bold;
		padding:10px;
		margin-left:3%;
		margin-right:3%;
		font-size:120%;
		border:solid 1% #9bf8ec;
		
}
.mathButtons{ border:solid 1% #000;
			text-shadow:#333;
			border-radius:2px;
			background-color:#CCC}
.digits{ border:solid 1% #000;
		text-shadow:rgb(96, 171, 206);
		border-radius:2px;
		background-color:#CCC}
.button{ border:solid 1% #000;
		text-shadow:#333;
		border-radius:2px;
		background-color:#CCC;
		}
.digits:hover{ background-color:#FF9}
.mathButtons:hover{ background-color:#FF9}
#clear:hover{ background-color:#FF9}